<h2>My tasks</h2>

<ul class="list-inline">
  <% @tasks.each do |task| %>
    <li class="task-li">
      <% if task.completed == true %>
        <i class="fas fa-check-square"></i>
      <% else %>
         <i class="far fa-square"></i>
      <% end %>
      <p><%= link_to task.title, task_path(task) %></p>
      <button class="btn btn-danger ml-5"><%= link_to 'delete',
             task_path(task),
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
      </button>
      </i>
    </li>
  <% end %>
</ul>


<div class="back-to-index">
  <i class="fas fa-plus"></i>
  <%= link_to 'Add a task', new_task_path %>
</div>

