<h1><%= @task.title %></h1>
<div class="task-details">
  <p><%= @task.details %></p>
</div>

<% if @task.completed == true %>
  <i class="fas fa-check-square">     This task is completed</i>
<% else %>
   <i class="far fa-square">        This task is not completed yet</i>
<% end %>

<div class="back-to-index">
  <%= link_to 'Edit this task', edit_task_path %><br>
  <%= link_to 'Back to index', tasks_path %>
</div>
